// Set the first few el's in the tree to
// the full page height, so children will have a % base
html, body, #root {
  height: 100%;
}

html, body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
