.App {
  text-align: center;
  background-color: #222;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.App-header {
  color: white;
}

.App-header-h1 {
  font-size: 6vw;
  margin-bottom: 0;
}

.App-header-h4 {
  font-size: 30px;
  font-style: italic;
  margin-top: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
